@import "../../assets/styles/settings/variables";

.btn {
	border-radius: 35px;
	border: 0;
	color: $ghost-white;
	font-size: 1rem;
	padding: 1rem 1.5rem;

	&-submit {
		background-color: $medium-carmine;
	}

	&-register {
		background-color: $gunmetal;
	}
}
