@import "../../assets/styles/settings/colors";

.btn {
	border-radius: 35px;
	border: 0;
	color: $ghost-white;
	cursor: pointer;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	width: 100%;

	&-submit,
	&-add {
		background-color: $medium-carmine;

		&:hover {
			background-color: darken($medium-carmine, 10%);
		}
	}

	&-register {
		background-color: $gunmetal;

		&:hover {
			background-color: darken($gunmetal, 10%);
		}

		a {
			color: $ghost-white;
			text-decoration: none;
		}
	}

	&-logout {
		background-color: $cadet-blue;
		color: $gunmetal;
		width: auto;

		&:hover {
			background-color: darken($cadet-blue, 10%);
		}
	}
}
