.form {
	align-items: center;
	display: flex;
	flex-direction: column;
	left: 50%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;

	h1 {
		color: $ghost-white;
		margin-bottom: 3rem;
	}

	form {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		width: 100%;

		input {
			background: rgba(255, 255, 255, 0.15) !important;
			border: none;
			border-radius: 35px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			color: $ghost-white;
			margin-bottom: 2rem;
			padding: 1rem 1.5rem;
			font-size: 1rem;

			&:-webkit-autofill {
				background-color: transparent !important;
				box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.15) inset;
				-webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.15) inset; /* Change the color to your own background color */
				-webkit-text-fill-color: #333;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 2px #fff;
			}

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				font-family: "Montserrat", sans-serif;
				font-weight: 200;
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				font-family: "Montserrat", sans-serif;
				font-weight: 200;
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				font-family: "Montserrat", sans-serif;
				font-weight: 200;
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				font-family: "Montserrat", sans-serif;
				font-weight: 200;
			}
		}

		.btn {
			width: 100%;
		}
	}

	.button-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}
